doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/semantic.css')

    body
        header
            h1= title
            h2= subtitle

    #map_canvas

block content
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='/javascripts/semantic.js')
    script(src='https://maps.googleapis.com/maps/api/js?&sensor=false&key=AIzaSyC5kgVtsX9_WAWV-4Vzp77gs9mxs9hsE7o')
    script(src='/javascripts/main.js')